body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*TODO: Wrong for display: grid to be on rows, should be on table element */
.match-row {
  display: grid;
  grid-template-columns: 1.5fr 4fr 3fr 8fr 2fr 1fr 1fr 1fr;
  text-align: center;
  margin-bottom: 0px;
}

.match-row-past {
  display: grid;
  grid-template-columns: 4fr 3fr 8fr 2fr 1fr 1fr 1fr;
  text-align: center;
}

.stats-row-overall {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.stats-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.match-table {
  padding: 2%;
  grid-gap: 0px;
}

.correct-prediction {
  color: green;
}

.incorrect-prediction {
  color: red;
}

.match-ongoing {
  color: crimson;
}

.submit-pred-form {
  text-align: center;
}

.match-table-column-headers {
  font-size: 1.05rem;
  font-weight: 600;
}

.match-table-item {
  border: 1px solid grey;
  padding: 8px;
}

.match-table-button {
  height: 2.4rem;
  border: none;
}