body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stats-row-overall {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.stats-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.correct-prediction {
  color: green;
}

.incorrect-prediction {
  color: red;
}

.match-ongoing {
  color: crimson;
}

/* ======================== HEADINGS AND UPDATE BUTTON ====================== */
.page-title {
  padding: 1% 3%;
  display: inline-block;
}

.update-button {
  float: right;
  clear: right;
  padding: 1% 3%;
}

/* ========== PREDICTION FORM ==============*/
.prediction-form {
  text-align: center;
}

.prediction-button {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 0.4rem;
  margin-bottom: 2px;
}

.prediction-form-field {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

/* ======================== MATCH TABLE ====================== */
.match-table {
  padding: 2%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

/*TODO: Wrong for display: grid to be on rows, should be on table element */
.match-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.match-row-item {
  margin-bottom: 0px;
  padding: 0.5rem 0px;
}

.match-row-remove-button {
  flex: 1 1 150px;
  align-self: center;
}

.remove-button {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #edafaf;
  border: #edafaf;
  color: black;
}

.add-button {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #208c36;
  border: #208c36;
  color: white;
}

.toggle-button {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #c9c9c9;
  border: #c9c9c9;
  color: black;
}

.match-row-date {
  flex: 1 1 400px;
}

.match-row-competition {
  flex: 1 1 300px;
}

.match-row-match {
  flex: 1 1 800px;
}

.match-row-prediction {
  flex: 1 1 200px;
}

.match-row-odd {
  flex: 1 1 100px;
}

.match-row-past {
  display: grid;
  grid-template-columns: 4fr 3fr 8fr 2fr 1fr 1fr 1fr;
  text-align: center;
}

/* ================ LEAGUE ROW ================= */
.league-table {
  padding: 2%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.league-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.league-row-item {
  margin-bottom: 0px;
  padding: 0.5rem 0px;
}

.league-row-remove-button {
  flex: 1 1 100px;
}

.league-row-alias {
  flex: 1 1 300px;
}

.league-row-status {
  flex: 1 1 150px;
}

.league-row-toggle-button {
  flex: 1 1 150px;
}

.league-columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.league-column {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: space-around;
}

.league-column-title {
  align-self: center;
}

.league-column-active {
  width: 50vw;
}

.league-column-available {
  width: 40vw;
}

.league-table-headers>p {
  font-weight: 600;
}