body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stats-row-overall {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.stats-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.correct-prediction {
  color: green;
}

.incorrect-prediction {
  color: red;
}

.match-ongoing {
  color: crimson;
}

/* ======================== HEADINGS AND UPDATE BUTTON ====================== */
.page-title {
  padding: 1% 3%;
  display: inline-block;
}

.update-button {
  float: right;
  display: inline;
  padding: 1% 3%;
}

/* ========== PREDICTION FORM ==============*/
.prediction-form {
  text-align: center;
}

.prediction-button {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 0.4rem;
  margin-bottom: 2px;
}

.prediction-form-field {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

/* ======================== MATCH TABLE ====================== */
.match-table {
  padding: 2%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

/*TODO: Wrong for display: grid to be on rows, should be on table element */
.match-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.match-row-item {
  margin-bottom: 0px;
  padding: 0.5rem 0px;
}

.match-row-remove-button {
  flex: 1 1 150px;
  align-self: center;
}

.remove-button {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #edafaf;
  border: #edafaf;
  color: black;
}

.match-row-date {
  flex: 1 1 400px;
}

.match-row-competition {
  flex: 1 1 300px;
}

.match-row-match {
  flex: 1 1 800px;
}

.match-row-prediction {
  flex: 1 1 200px;
}

.match-row-odd {
  flex: 1 1 100px;
}

.match-row-past {
  display: grid;
  grid-template-columns: 4fr 3fr 8fr 2fr 1fr 1fr 1fr;
  text-align: center;
}
